/* ===== Feedback form ===== */

.feedback-wrapper {
  margin: 0 auto;
  width: 408px;
  padding: 24px;

  background-color: #ffffff;
  border-radius: 8px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-size: 14px;
  line-height: 1.4;
  color: #2e2f42;
}

.feedback-form label:not(:last-of-type) {
  margin-bottom: 16px;
}

/* Inputs */

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 8px 16px;

  font-size: 14px;
  line-height: 1.4;
  color: #2e2f42;

  border: 1px solid #808080;
  border-radius: 4px;

  outline: none;
  resize: none;
}

/* Hover */

.feedback-form input:hover,
.feedback-form textarea:hover {
  border-color: #000000;
}

/* Focus (active) */

.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #4e75ff;
}

/* Button */

.feedback-form button {
  margin-top: 16px;
  align-self: flex-start;

  padding: 8px 16px;

  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;

  background-color: #4e75ff;
  border: none;
  border-radius: 8px;

  cursor: pointer;
  transition: background-color 250ms ease;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}
